nav {
    display: flex;
    justify-content: space-between;
    font-family: "Barlow", sans-serif;
    margin-top: 20px;
    
    ul {
        display: flex;
        gap: 20px;
        li {
            list-style: none;
        }
    }
}